.button {
	display: inline-block;
	flex-shrink: 0;

	margin: 1px 0 1px 0;
	padding: 6px 12px 6px 12px;

	text-decoration: none;

	border: 2px solid transparent;
	border-radius: $border-radius-large;
	outline: none;

	//Primary
	&--primary {
		color: $figma-white;
		background-color: $figma-blue;

		@include font-ui-neg('small', 'medium');

		&:enabled:active, &:enabled:focus {
			border: 2px solid $figma-black-3;
		}

		&:disabled {
			background-color: $figma-black-3;
		}
	}

	//Primary Destructive
	&--primary-destructive {
		color: $figma-white;
		background-color: $figma-red;

		@include font-ui-neg('small', 'medium');

		&:enabled:active, &:enabled:focus {
			border: 2px solid $figma-black-3;
		}

		&:disabled {
			opacity: .4;
		}
	}

	//Secondary
	&--secondary {
		color: $figma-black-8;
		border: 1px solid $figma-black-8;
		background-color: $figma-white;

		@include font-ui-pos('small', 'medium');

		&:enabled:active, &:enabled:focus {
			border: 2px solid $figma-blue;
		}

		&:disabled {
			color: $figma-black-3;
			border: 1px solid $figma-black-3;
		}
	}

	&--secondary-destructive {
		color: $figma-red;
		border: 1px solid $figma-red;
		background-color: $figma-white;

		@include font-ui-pos('small', 'medium');

		&:enabled:active, &:enabled:focus {
			padding: 4px 15px 4px 15px;

			border: 2px solid $figma-red;
		}

		&:disabled {
			opacity: .4;
		}
	}

	&--margin-right {
		margin-right: 8px;
	}
}


.button--icon {
  width: 32px;
  height: 32px;
  padding: 2px;

  border: 1px solid transparent;
  border-radius: $border-radius-small;
  background: none;

  &:hover { border-color: $figma-black-1; }
  &:active, &:focus { border: 2px solid $figma-blue; }
  &:active, &.active {
    &::before { background: $figma-black-1; }
  }

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 2px; bottom: 2px;
    left: 2px; right: 2px;

    background: none;
    border-radius: inherit;
  }
}